<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Barbers</li>
  </ol>
</nav>

<h2 class="featurette-heading">
  Barbers.
  <span class="text-muted">
    It’ll blow your mind.
  </span>
</h2>

<hr class="featurette-divider">

<div class="row" data-masonry='{"percentPosition": true }'>
  <% @barbers.each do |barber| %>

    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card">
        <img class="bd-placeholder-img card-img-top" src="/assets/img/barbers/<%= barber.image %>" alt="">

        <div class="card-body">
          <h5 class="card-title">
            <a href="/barber/<%= barber.id %>">
              <%= barber.name %>
            </a>
          </h5>
          <p class="card-text">
            Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
            Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo. 
          </p>
        </div>
      </div>
    </div>

  <% end %>
</div>

<hr class="featurette-divider">
