<h1>Ticket</h1>

<p class="lead">En esa página puedes conseguir un ticket a nuestra fantastica peluquería.</p>

<form action="/ticket" method="post">
  <div class="form-group">
    <label for="Name">Name</label>
    <input type="text" class="form-control" id="Name" name="name" value="<%= @name %>" placeholder="Name" required>
  </div>
  <div class="form-group">
    <label for="phone">Phone</label>
    <input type="tel" class="form-control" id="phone" name="phone" value="<%= @phone %>" placeholder="Phone" required>
  </div>
  <div class="form-group">
    <label for="barber">Barber</label>
    <select class="form-control" id="barber" name="barber">
      <% @barbers.each do |item| %>
        <option <%= @barber == item['barber'] ? 'selected' : '' %>><%= item['barber'] %></option>
      <% end %>
    </select>
  </div>
  <div class="form-group">
    <label for="datetimepicker">Date and Time</label>
    <input type="text" class="form-control" id="datetimepicker" name="datetimepicker" placeholder="Date and Time" autocomplete="off" required>
  </div>
  <div class="form-group">
    <label for="colorpicker">Color</label>
    <select class="form-control" id="colorpicker" name="colorpicker" aria-describedby="colorpickerHelp">
      <option selected value="">None</option>
      <option value="#7bd148">Green</option>
      <option value="#5484ed">Bold blue</option>
      <option value="#a4bdfc">Blue</option>
      <option value="#46d6db">Turquoise</option>
      <option value="#7ae7bf">Light green</option>
      <option value="#51b749">Bold green</option>
      <option value="#fbd75b">Yellow</option>
      <option value="#ffb878">Orange</option>
      <option value="#ff887c">Red</option>
      <option value="#dc2127">Bold red</option>
      <option value="#dbadff">Purple</option>
      <option value="#e1e1e1">Gray</option>
    </select>
    <small id="colorpickerHelp" class="form-text text-muted">No color by default.</small>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
